.shop-header {
    background-image: url("../images/car-wallpapers.jpg");
    background-size: cover;
    height: 1000px;
    color: white; 
}


.navbar a:hover {
    color: #03215a;
}


.shop-stats {
    color: white; 
}