.shop-header {
    background-image: url("../images/car-wallpapers\ v_10.jpg");
    background-size: cover;
    height: 700px;
    background-position: center;
    color: white; 
}


.navbar a:hover {
    color: #03215a;
}


.shop-stats {
    color: white; 
}